<header>
  <div class="container">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
  </div>
</header>
<nav>
  <div class="container">
      <ul>
          <li><a [routerLink]="['/home']">Strona główna</a></li>
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/users']">Tabela użytkowników</a></li>
      </ul>
  </div>
</nav>
<div class="container">
  <main>
      <router-outlet></router-outlet>
  </main>
  <aside>
      <h2>Reklamat</h2>
      <img src="assets/obraz.jpg" style="display: block; margin: 16px auto;" width="60%" />
  </aside>
</div>
<footer>
  <div class="container">
      <h1>Strona stworzona przez {{ author }}</h1>
  </div>
</footer>